.retry-game-over
  .side-panel.left-panel
    .iframes
      iframe(scrolling="no")
      iframe(scrolling="no")
      iframe(scrolling="no")
      iframe(scrolling="no")
    .overlays
      .overlay(data-src=keys[0], data-index=0)
        h3 1
        p.name #{names[0]}
        p.score #{highScores[0]}
      .overlay(data-src=keys[1], data-index=1)
        h3 2
        p.name #{names[1]}
        p.score #{highScores[1]}
      .overlay(data-src=keys[2], data-index=2)
        h3 3
        p.name #{names[2]}
        p.score #{highScores[2]}
      .overlay(data-src=keys[3], data-index=3)
        h3 4
        p.name #{names[3]}
        p.score #{highScores[3]}
  .primary-panel
    img.left-arrow(src="img/arrow-left.png", width="32px")
    p.high-scores See the highest scoring games!
    img.right-arrow(src="img/arrow-right.png", width="32px")
    .header-copy
      h1 Oh no!
      h2 Maybe zoom wouldn't have liked the moon anyway.
    .how-to
      h3 Highest Altitude:
      p.description #{miles}mi

    p.button-copy.subtitle Want to give it another go?
    .retry(onClick="history.go(0)") Retry!

    .share-content
      p.share-copy Care to share your score?
      span(class='st_facebook_hcount', displayText='Facebook', st_title="I got #{miles}mi on zoom the balloon #zoomtheballoon", st_url="http://zoomtheballoon.com/", popup="true")
      span(class='st_twitter_hcount', displayText='Tweet', st_title="I got #{miles}mi on zoom the balloon #zoomtheballoon", st_url="http://zoomtheballoon.com/", popup="true")
    img.moon(src="img/moon-footer.png")
  .side-panel.right-panel
    .iframes
      iframe(scrolling="no")
      iframe(scrolling="no")
      iframe(scrolling="no")
      iframe(scrolling="no")
    .overlays
      .overlay(data-src=keys[4], data-index=4)
        h3 5
        p.name #{names[4]}
        p.score #{highScores[4]}
      .overlay(data-src=keys[5], data-index=5)
        h3 6
        p.name #{names[5]}
        p.score #{highScores[5]}
      .overlay(data-src=keys[6], data-index=6)
        h3 7
        p.name #{names[6]}
        p.score #{highScores[6]}
      .overlay(data-src=keys[7], data-index=7)
        h3 8
        p.name #{names[7]}
        p.score #{highScores[7]}
