.primary-panel
  img.logo(src="img/balloon-cloud-header.png")
  .header-copy
    h1
      | Zoom
      span the balloon
    h2 has always dreamed </br> of the moon. Let's go!
  .how-to
    h3 Play the Game
    p.description Make Zoom Grow with hot air <br> and fly faster. But be careful! <br>The clouds and stars along <br> your way can really hurt!

  a.download(href="#") Download!
  a.play(href="#") (Or Play in Browser)
  a.like(href="#")
    img(src="img/like-icon.png", width="17px")
    |Like Zoom? Vote!
  iframe(src="http://nodeknockout.com/iframe/theteam", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
  iframe(src="http://nodeknockout.com/iframe/theteam", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
  iframe(src="http://nodeknockout.com/iframe/theteam", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
    <br>
  iframe.second-row(src="http://nodeknockout.com/iframe/theteam", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
  iframe.second-row(src="http://nodeknockout.com/iframe/theteam", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)
  iframe.second-row(src="http://nodeknockout.com/iframe/theteam", frameborder=0, scrolling=no, allowtransparency=true, width=115, height=25)

  .share-content
    span(class='st_facebook_hcount', displayText='Facebook')
    span(class='st_twitter_hcount', displayText='Tweet')

.back-panel
